body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
}

div {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: cyan;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    text-align: left;
    line-height: 1.8;
}

h1 {
    color: #333;
}

input{
    text-align: center;
}
